@media screen and (min-width:0px){
  #projects-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
    margin-top: 65.6px;
    transition: opacity 1s;
    position: absolute;
    left: 0;
    width:100vw;
  }
  /* a:hover{
    cursor: pointer;
  } */

  .project-container{
    height:300px;
    background-size:cover;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }

  #ptouch{
    background-position: 0px -221px;
  }
  #ptouch:hover{
    cursor:crosshair;
  }

  #bill{
    /* background-image: url('/src/styles/images/dining.jpeg'); */
    background-position: center;

  }

  #bill-phone{
    width: 110px;
    height: 232px;
    position: absolute;
    right: 40px;
    margin-top: 70px;
  }

  .project-text{
    position: relative;
    /* display: inline; */
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    margin:0;
    font-family:'Poppins-Semibold';
  }

  .project-image{
    margin: 10px 0px 0px 0px;
      width: 98%;
      height:100%;
      align-self: center;
  }

  .project-logo{
    width: 151px;
    position: relative;
  }

  #pt-logo{
    width:91px;
  }

  #pt-text_projects{
    width:60%;
    margin: 0 auto;
    line-height:1;
    color: black;
    text-decoration: none;
  }
}

@media screen and (min-width:750px){
  #projects-div{
    width:100vw;
    display:flex;
    flex-direction:row;
  }
  .project-container{
    width:50%;
  }
}

@media screen and (min-width:1024px){

  #projects-div{
    position:relative;
    width:100%;
    margin-top:102px;
  }

  #pt-text_projects{
    width:auto;
  }
  #ptouch{
    background-position: 0px 33.5vw;
    box-shadow: 0px 7px 14px #0000006b;
  }

  #bill{
    box-shadow: 0px 7px 14px #0000006b;
  }








}
