@media screen and (max-width: 380px){
#page-title-box{
    width: auto;
    position: absolute;
    /* padding-left: 34px; */
    margin: 8px 8px 0px 0px;
    border: 1px solid black;
    align-self: flex-end;
    background: black;
    right: 1px;

}

#page-title-text{
  color: white;
  font-size: 26px;
  margin: 0 5px;
  font-family: Poppins;


}


}

@media screen and (min-width:1366px){

#page-title-box{
  width: auto;
  position: relative;
  padding-left: 34px;
  margin-top: 14px;
  border: 1px solid black;
  /* align-self: flex-end; */
  background: black;
}

#page-title-text{
  color: black;
  text-decoration: underline;
  font-size: 26px;
  margin: 0 5px;
  font-family: Poppins;
}
}
