
/* @media screen and (max-width: 380px){
#header{
  position: absolute;
  z-index:2;
  width: 100%;
  height: 11%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0;
}

#e{
  width: 4em;
  left: 20px;
  position: relative;
  bottom: -5px;
}

#e:hover{
  cursor:pointer;
}

#menu-icon-circle{
  border: 3px solid black;
  border-radius: 50%;
  right: 60px;
  position: fixed;
  bottom: 4em;
  right:2em;
  background: black;
  z-index: 2;
}

#menu-icon{
  font-size: 43px;
position: relative;
padding: 7px;
color:white;
}

#menu-icon-circle:hover{
  cursor:pointer;
}
}
@media screen and (min-width:1366px){

#header{
  position: absolute;
  z-index:2;
  width: 100%;
  height: 11%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top:0;
}

#e{
  width: 4em;
  left: 20px;
  position: relative;
  bottom: -5px;
}

#e:hover{
  cursor:pointer;
}

#menu-icon{
  font-size: 43px;
position: relative;
padding: 7px;
color:white;
}
#menu-icon-circle{
  border: 3px solid black;
border-radius: 50%;
right: 60px;
position: fixed;
bottom: 4em;
right:4em;
background: black;
z-index: 2;
}
#menu-icon-circle:hover{
  cursor:pointer;
}
} */
