@media screen and (max-width: 380px){
  .ourWork-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position:relative;
  }

  .ourWork-div{
    height: 33.3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom:.2px solid rgba(128, 128, 128, .9);
    align-self: center;
  }

  .ourWork-div-title{
    display: inline-block;
        height: 100%;
        width: 17%;
        display: flex;
        justify-content: center;
        align-items: center;

  }

  .ourWork-div-icon{
    display: flex;
    margin-left:39px;
    display: none;
  }

  .ourWork-div-text{
    display: inline-block;
    height: 100%;
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 4%;


  }

  .ourWork-title{
    position: relative;
    text-align:center;
    margin: 0 auto;
    font-size: 1.8125em;
    font-family: rockwell, sans-serif;
    font-weight: 400;
    font-style: normal;
        transform: rotate(-90deg);
  }

  .ourWork-icon{
    width: 4em;
  }

  .ourWork-text{
    width: 512px;
  position: relative;
  font-size: 1em;
  font-family: source sans pro;
  }

  #learn-div{
    text-align: center;

  }
  #learn-arrow{
    font-size: 2em;
    position: relative;
    top: 11px;
  }
  #learn-arrow:hover{
    cursor: pointer;
  }
  #learn-text{
      text-decoration: underline;
      text-align: center;
      font-family: "source sans pro";
      font-weight: normal;
      font-size: 16px;
      display: inline;
  }

  #ourWork-strategy-div{

  }

  #ourWork-design-div{

  }

  #ourWork-data-div{

  }
}

@media screen and (min-width:1366px){

  .ourWork-page{
    width: 100%;
    height: 512px;
    display: flex;
    flex-direction: column;
  }

  .ourWork-div{
    height: 33.3vh;
    width: 955px;
    display: flex;
    flex-direction: row;
    padding-left: 34px;
    align-self: center;
  }

  .ourWork-div-title{
    display: inline-block;
    height: 100%;
    width:318px;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .ourWork-div-icon{
    display: flex;
    margin-left:39px;
  }

  .ourWork-div-text{
    display: inline-block;
    height: 100%;
    width:1000px;
    display: flex;
    align-items: center;
    justify-content: center;


  }

  .ourWork-title{
    position: relative;
    text-align:center;
    margin: 0 auto;
    font-size: 20px;
    font-family: rockwell, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .ourWork-icon{
    width: 4em;
  }

  .ourWork-text{
    width: 512px;
  position: relative;
  font-size: 1em;
  font-family: source sans pro;
  }

  #learn-div{
    text-align: center;
    padding-left:686px;
  }
  #learn-arrow{
    font-size: 2em;
    position: relative;
    top: 11px;
  }
  #learn-arrow:hover{
    cursor: pointer;
  }
  #learn-text{
      text-decoration: underline;
      text-align: center;
      font-family: "source sans pro";
      font-weight: normal;
      font-size: 16px;
      display: inline;
  }

  #ourWork-strategy-div{

  }

  #ourWork-design-div{

  }

  #ourWork-data-div{

  }
}
