@media screen and (min-width: 0px){
  #profile_lyn{
    display:flex;
    margin: 87px auto 0;
  }

  #lyn-image_lyn{
    background-image: url('../../assets/images/lyn2.jpg');
    height: 132px;
    width: 132px;
    background-size: cover;
    border-radius: 50%;
    /* transform: rotate(90deg); */
    background-position: top;
  }

  #lynjackson_lyn{
    font-family:'Raleway-Medium';
    font-size:28px;
    font-weight:500;
    margin:0;
  }
  #uidev_lyn{
    font-family:'Raleway-SemiBold';
    font-size:19px;
    font-weight:600;
    color:rgba(0,0,0,.55);
    margin:0;
  }
  #bk_lyn{
    font-family:'Raleway-Light';
    font-size:14px;
    font-weight:100;
    margin:3px 0 0 0;
  }


  #name-title-icons-div_lyn{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
  }
  #name-title-div_lyn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 54px; */
    position: relative;
    margin-top: 10px;
  }

  #contact-div_lyn{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top:13.4px;
    left: -7px;
    position: relative;
  }

  .contact-image_lyn{
    height: 20px;
    width: 20px;
    background-size: cover;
        /* margin: 0 25px; */
  }

  #resume-image_lyn{
    background-image:url('../../assets/icons/resume.png');
    margin: auto;
  }
  #linkedin-image_lyn{
    background-image:url('../../assets/icons/linkedin.png');
    margin: auto;
  }
  #email-image_lyn{
    background-image:url('../../assets/icons/email.png');
    margin: auto;
  }
}

@media screen and (min-width: 1024px){
  #profile_lyn{
    flex-direction: column;
    /* align-items:center; */
    margin: 56px 0 0 0;
    width:245px;
  }
  #lyn-image_lyn{
    width: 245px;
    height: 245px;
  }
  #name-title-icons-div_lyn{
    margin-left:0px;
  }
  #name-title-div_lyn{
    top:0px;
    margin-top:18px;
    /* align-items:center; */
    height: auto;
  }
  #lynjackson_lyn{
    font-size: 43px;
  }
  #uidev_lyn{
    font-size:26px;
    margin-top:3px;
    align-self: center;
  }
  #bk_lyn{
    font-size:19px;
    margin-top:7px;
    align-self: center;
  }
  #contact-div_lyn{
    width:47.3%;
    margin: 15.2px auto 0 auto;
  }
  .contact-link-text_lyn{
    display:none;
  }
}
