@media screen and (min-width: 0px){
  .item-row_stack{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 89%;
    margin: 0 auto;
  }

  #stack-icons_lyn{
    /* display: flex;
    flex-wrap: wrap; */
  }

  #react-image_lyn{
    background-image:url('../../assets/icons/react1.png');
    width:31px;
    height:31px;
  }
  #webpack-image_lyn{
    background-image:url('../../assets/icons/webpack1.png');
    width:31px;
    height:31px;
  }
  #xd-image_lyn{
    background-image:url('../../assets/icons/xd1.png');
    width:31px;
    height:31px;
  }

  #nodejs-image_lyn{
    background-image:url('../../assets/icons/nodejs.jpg');
    width:31px;
    height:31px;
  }
  #javascript-image_lyn{
    background-image:url('../../assets/icons/javascript.png');
    width:31px;
    height:31px;
  }
  #jest-image_lyn{
    background-image:url('../../assets/icons/jest1.png');
    width:31px;
    height:31px;
  }
  #redux-image_lyn{
    background-image:url('../../assets/icons/redux1.png');
    width:31px;
    height:31px;
  }
  #sketch-image_lyn{
    background-image:url('../../assets/icons/sketch1.png');
    width:31px;
    height:31px;
  }
  #css-image_lyn{
    background-image:url('../../assets/icons/css31.png');
    width:31px;
    height:31px;
  }
  #typescript-image_lyn{
    background-image:url('../../assets/icons/typescript1.png');
    width:31px;
    height:31px;
  }
  #graphql-image_lyn{
    background-image:url('../../assets/icons/graphql1.png');
    width:31px;
    height:31px;
  }
  #sass-image_lyn{
    background-image:url('../../assets/icons/sass1.png');
    width:31px;
    height:31px;
  }

  #contact-link_lyn{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 31px;
  }

  .contact-link-text_lyn{
    color:black;
    font-family:'Poppins-Regular';
    font-size:9.7px;
    text-decoration:none;
  }
}

@media screen and (min-width: 560px){
  .item-row_stack{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 89%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px){
  #stack-icons_lyn{
    width:245px;

  }
  .item-row_stack{
    margin-bottom:11.5px;
  }
  .stack-link-text_lyn{
    display:flex;
  }
}
