@media screen and (min-width: 0px){
  #section3_about{
      margin-top: 30px;
      flex-direction:column;
      justify-content: space-between;
  }
  #section3-image-div_about{
      background-image:url('../../assets/images/dining.jpeg');
      background-position: center;
      background-size: cover;
  }
}

@media screen and (min-width: 1024px){
  #data-image{
    display:flex;
    width:29.5%;
  }
  #section3_about {
    margin-top: 11.9vh;
    margin-bottom: 3em;
  }

  #section3-content_about{
    display:flex;
  }



  #about-section3-title{
    width:92.87%;
  }
  #section3-image-div_about{
    display:none;
  }

  #image-section3_about{
    background-image: url('../../assets/images/dining.jpeg');
    height: 264px;
    width:298px;
    background-size: cover;
    margin: 0 56px 0 0;
  }

}
