@media screen and (min-width: 0px){
  #section2_about{
    margin: 3.73vh 0 0 0;
  }

  #section2-title_about{
    color:white;
    width: 62.5%;
    margin:0;
  }

  #section2-text_about{
    display:flex;
    flex-direction:column;
    margin: 282px auto auto auto;
  }

  #cat-image-div_about{
    background-image: url('../../assets/images/fatcat.jpg');
    background-size:cover;
    height: 238px;
    width: 100vw;
    overflow: hidden;
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    /* max-width:1280px; */

    left: 0px;
  }

  #avon-quote-div_about{
    display:flex;
    flex-direction: column;
        margin: auto auto 19.5px auto;
  }

  #avon-quote_about{
    font-family: 'Poppins-Bold';
    font-size: 1.06em;
    font-weight: 700;
    margin: 0;
    line-height:1.2;
    /* letter-spacing:-1px; */

  }

  #avon-attribute_about{
    align-self: flex-end;
    margin: 6.8px 0 0 0;
    font-family: 'Open-Sans-Regular';
    /* margin-right: 11%; */
    font-size: 1.06em;
  }
}

@media screen and (min-width: 1024px){
  #section2-title_about {
    width: 670px;
    font-size: 3.14em;
    letter-spacing: -1.4px;
  }
  #cat-image-div_about{
    height:38.67vh;
    box-sizing: border-box;
    padding: 0 5%;
    background-position: 0px -150px;
  }
  #section2-text_about{
    flex-direction: row;
    margin-top:44.27vh;
    margin: 44.27vh 0 auto 0;

  }
  #avon-quote-div_about{
    align-self: flex-start;
    margin: 0;
    width: 298px;
    margin: 0 56px 0 0;
  }
  #avon-quote_about{
    font-size:29.5px;
  }
  #avon-attribute_about {

  }

}

@media screen and (min-width:1367px){
  #cat-image-div_about{
    max-width:1280px;
    left:auto;
  }


}
