/* Error: expected ";".
 *    ,
 * 38 |     url("../../assets/fonts/poppins/bold/poppins-v9-latin-700.ttf") format("truetype"),
 *    |                                                                                        ^
 *    '
 *   styles/sass/app.scss 38:88  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 38 \2502      url("../../assets/fonts/poppins/bold/poppins-v9-latin-700.ttf") format("truetype"),\a    \2502                                                                                         ^\a    \2575 \a   styles/sass/app.scss 38:88  root stylesheet';
}
