.tester {
  color: red;
}

@media screen and (min-width: 0px) {
  .para, #services .service p {
    font-family: "nunito sans";
    font-size: 19px;
    text-align: center;
  }

  .title2, #projects .project .overlay {
    font-family: "poppins";
    font-size: 18px;
    font-weight: 600;
  }

  #above-fold {
    animation: fadeIn 2s;
    display: flex;
    flex-direction: column;
    justify-content: auto;
    align-items: center;
    height: 62.11vh;
    width: 100%;
    position: relative;
    z-index: 0;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  #above-fold #above-title {
    position: relative;
    top: 25vh;
    text-align: left;
    font-family: "Poppins-Medium";
    font-size: 46.35px;
    font-weight: 400;
    line-height: 47.02px;
    letter-spacing: -14;
    transition: opacity 0.5s;
  }
  #above-fold #arrow-div {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 74.75vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), white);
  }
  #above-fold #above-background {
    background-image: url("../../assets/images/white-back.jpg");
    background-size: cover;
    position: absolute;
    height: 86vh;
    width: 100vw;
    z-index: -1;
    border: 0px solid white;
  }

  #services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    z-index: 1;
    transition: opacity 0.5s;
    margin-top: 134px;
  }
  #services .service {
    height: auto;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
  }
  #services .service img {
    height: 55px;
    width: 55px;
  }
  #services .service h3 {
    font-family: poppins;
    font-size: 18.4px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: auto;
    text-align: center;
    margin: 17px auto;
  }
  #services .service p {
    margin: 0;
  }

  #projects {
    width: 100%;
    margin-bottom: 88px;
  }
  #projects .project {
    height: 200px;
    width: 100%;
    background-size: cover;
    border-radius: 3px;
    margin-bottom: 30px;
  }
  #projects .project .overlay {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
  #projects .project .overlay p {
    margin-bottom: 14.4px;
  }
  #projects .project .logo {
    margin-left: 11px;
    margin-right: 26px;
    margin-bottom: -3px;
    width: 87px;
  }
}
@media screen and (min-width: 1024px) {
  #above-fold {
    background-position: -187px 0;
    /* height:74.8vh; */
    height: 623px;
    z-index: 0;
  }
  #above-fold #above-title {
    padding: 0;
    font-size: 46px;
    width: 707px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: auto;
  }
  #above-fold #above-title p {
    margin: 5px;
  }
  #above-fold #above-title-bottom {
    align-self: flex-end;
  }

  #services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
  }
  #services .service {
    margin-bottom: 0px;
    width: 32%;
  }

  #projects {
    margin: 142px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #projects .project {
    width: 50%;
    height: 307px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  }
  #projects .project .logo {
    width: 96px;
  }
  #projects .project .tagline {
    font-family: poppins;
    font-size: 27.6px;
    font-weight: 500;
    line-height: auto;
    letter-spacing: auto;
  }
}
@media screen and (min-width: 1280px) {
  #projects .project .logo {
    margin-right: 71px;
  }
}
@media screen and (min-width: 1440px) {
  #projects .project .logo {
    margin-right: 96px;
  }
}

/*# sourceMappingURL=home.css.map */
