.tester {
  color: red;
}

@media screen and (min-width: 0px) {
  .lyn-section {
    margin-bottom: 53px;
  }
  .lyn-section h1 {
    font-family: poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: -1px;
    color: #b3b3b3;
    margin: 0;
  }
  .lyn-section h2 {
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -1px;
    margin: 0;
  }
  .lyn-section h3 {
    font-family: nunito sans;
    font-size: 14px;
    font-weight: 400;
    line-height: auto;
    letter-spacing: auto;
    margin: 0;
  }
  .lyn-section .tab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 37.5px;
    height: 57px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.2);
  }
  .lyn-section .tab .tab-title {
    font-family: poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: auto;
    letter-spacing: -1px;
    color: #b3b3b3;
  }
  .lyn-section .tab .little-arrow {
    height: 19px;
    width: 14px;
    transform: rotate(90deg);
  }

  #profile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 49px;
    margin-top: 86px;
  }
  #profile #profile-image {
    background-image: url("../../assets/images/lyn4.jpeg");
    background-size: cover;
    height: 449px;
    width: 100vw;
    position: relative;
    left: calc((100% - 90.5%)/-2);
    margin-bottom: 32px;
  }
  #profile #name {
    font-size: 37px;
    color: #1a1a1a;
  }
  #profile #title {
    font-family: poppins;
    font-size: 32px;
    font-weight: 800;
    line-height: auto;
    letter-spacing: -1px;
    color: #b3b3b3;
  }
  #profile #location {
    font-size: 21px;
    margin-bottom: 22px;
  }

  #portfolio .project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 60.2px;
  }
  #portfolio .project .portfolio-image {
    width: 44.1%;
  }
  #portfolio .project .portfolio-info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 49.6%;
    height: 100%;
  }
  #portfolio .project .info-title {
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -1px;
  }
  #portfolio .project .design-doc-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  #portfolio .project .xd-icon {
    width: 21px;
    margin-right: 4.5px;
  }

  #experience .experience-item {
    margin-bottom: 37px;
  }
  #experience .title {
    font-family: poppins;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -1px;
  }
  #experience .place {
    font-family: poppins;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -1px;
    color: #b3b3b3;
  }
  #experience .time {
    font-size: 14px;
    margin-bottom: 18px;
  }

  #education .education-item {
    margin-bottom: 27.8px;
  }
  #education .degree {
    color: #b3b3b3;
  }

  #more p {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  #profile {
    width: 34.1%;
    margin-top: 86px;
  }
  #profile #profile-image {
    left: calc( (100% - 90.1%) * -1);
    width: inherit;
    position: absolute;
    left: 0px;
  }
  #profile #nameTitleLocation {
    margin-top: 484px;
  }

  #right-side {
    width: 551px;
    margin: 125px 0 0 65px;
  }

  #portfolio .project {
    align-items: center;
  }
  #portfolio .project .portfolio-image {
    width: 203px;
    height: 141px;
  }
}

/*# sourceMappingURL=lyn.css.map */
